@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0; /* Reset default margin */
}

.content {
	background-color: #ecd7a7;
	background-image: url("./Assets/abstractbg.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: "Lobster", cursive;
}

.inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
	padding: 50px 20px;
	width: 60%;
	font-size: 32px;
	text-align: center;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	color: #184d19;
	background-color: #cef8c488;
}

button {
	display: inline-block;
	padding: 15px 30px; /* Adjusted padding for smaller screens */
	margin: 20px 10px; /* Adjusted margin for smaller screens */
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: #184d19;
	color: #ffffff;
	font-family: "Lobster", cursive;
}

button:disabled {
	background-color: #030a03;
	color: #beaa7b;
}

@media (max-width: 768px) {
	.inner {
		width: 90%;
		font-size: 28px;
	}

	button {
		font-size: 24px;
	}
}

@media (max-width: 480px) {
	header {
		font-size: 18px;
	}
	.inner {
		padding: 30px 10px;
		font-size: 20px;
	}

	button {
		padding: 10px 20px;
		margin: 10px 10px;
		font-size: 18px;
	}
}
